{% extends 'main/base.html' %}

{% block title %}Edit Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row mt-5">
  <h2 class="alert alert-primary text-center">Personal Details</h2>
  <div class="col-sm-5 offset-1">
    <h1>Upload Image</h1>
    <div class="div mt-5">
      
        <img src="{{ request.user.profile.image.url }}" alt="{{ img.img.name }}" height="200" width="500">
   
    </div>
  </div>
  <div class="col-sm-5 offset-1">
    <div class="form-group">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{u_form | crispy}}
        {{p_form | crispy}}
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
